@model IEnumerable<NawafizApp.Services.Dtos.RoomTypeDto>

@{
    ViewBag.Title = "getall";
    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}
<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>إظهار كافة الأنماط 
        </div>
    </div>
    <div class="portlet-body">
        <p>
            @Html.ActionLink("Create New", "Add")
        </p>
        <table class="table">
            <tr>
                <th>
                   أسم
                </th>
                <th>
                    وصف
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |

                        @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "linkDel" })
                    </td>
                </tr>
            }

        </table>

        </div>
   </div>

        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery-confirm.min.js"></script>
        <script>
            $('.linkDel').confirm({
                title: 'تأكيد الحذف !',

                content: 'ما تقوم به الأن هو حذف نمط الغرفة  مما سيؤدي إلى فقدان كافة المعلومات المدرجة تحت هذا  .. هل أنت متأكد مما تقوم به ؟!',


                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    },
                    إلغاء: function () {

                    }


                }
            });
            $('a.twitter').confirm({
                content: "...",
            });
            $('a.twitter').confirm({
                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    }
                }
            });
            $(".jconfirm-content-pane").removeClass("no-scroll");
        </script>

