@model NawafizApp.Services.Dtos.PercentDto

@using NawafizApp.Common;





<style>
    .myclass {
        background-color: #c29d0b;
        color: white;
        border-style: outset;
        border-color: #c29d0b;
        border-width: 8.5px;
        margin: 2%;
        text-align: center;
    }

    .myclass2 {
        border: 3px solid #89006b;
        padding: 10px;
        margin-bottom: 30px;
    }
</style>
<div class="portlet light" id="summary-portlet">

    <div class="portlet-title">
        <div class="row">
            <div class="portlet-title col-xs-12">
                <div class="heading media-heading-sub">
                    <div class="caption font-purple-haze m-heading-1" style="">


                        <span class="caption-subject bold uppercase " style="font-size:x-large;color:black">التقرير:</span>
                    </div>


                    <div class="caption font-black-sunglo" style="margin-right: 38%;">
                        <span class="caption-subject bold uppercase" style="color:black;font-size:x-large"><b> عدد الغرف الكلي : @Model.numberofRoom</b></span>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="portlet-body">
        <div id="id2" class="container" style="width:100%">



            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-3 myclass">
                    <br />
                    <b>نسبة الغرف الفرغة</b>
                    @{ if (@Convert.ToInt32(Model.numberofRoom) != 0)
                        {
                            var per = ((@Convert.ToInt32(Model.readyofRoom) / @Convert.ToInt32(Model.numberofRoom)) * 100);
                            <p><b>@per %</b></p>
                        }
                        else
                        {
                            <p><b>0 %</b></p>
                        }

                    }



                </div>
                <div class="col-md-3 col-sm-4 col-xs-3 myclass">
                    <br />
                    <b>نسبة الغرف المشغولة</b>
                    @{ if (@Convert.ToInt32(Model.numberofRoom) != 0)
                        {
                            var per = ((@Convert.ToInt32(Model.PuseofRoom) / @Convert.ToInt32(Model.numberofRoom)) * 100);
                            <p><b>@per %</b></p>
                        }
                        else
                        {
                            <p><b>0 %</b></p>
                        }

                    }



                </div>
                <div class="col-md-3 col-sm-4 col-xs-3 myclass">
                    <br />
                    <b>نسبة الغرف المشغولة وبحاجة تنظيف</b>
                    @{ if (@Convert.ToInt32(Model.numberofRoom) != 0)
                        {
                            var per = ((@Convert.ToInt32(Model.PuseandcleanofRoom) / @Convert.ToInt32(Model.numberofRoom)) * 100);
                            <p><b>@per %</b></p>
                        }
                        else
                        {
                            <p><b>0 %</b></p>
                        }

                    }



                </div>
                <div class="col-md-3 col-sm-4 col-xs-3 myclass">
                    <br />
                    <b>نسبة الغرف الفارغة وبحاجة تنظيف</b>
                    @{ if (@Convert.ToInt32(Model.numberofRoom) != 0)
                        {
                            var per = ((@Convert.ToInt32(Model.emptyandcleanofRoom) / @Convert.ToInt32(Model.numberofRoom)) * 100);
                            <p><b>@per %</b></p>
                        }
                        else
                        {
                            <p><b>0 %</b></p>
                        }

                    }



                </div>
            </div>
            <br />
            <button class="btn btn-warning " id="print1" type="button">طباعة <i class="fa fa-download"></i></button>
        </div>

    </div>
</div>

<iframe id="txtArea1" style="display:none"></iframe>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-confirm.min.js"></script>
<script>
    $(document).ready(function () {
        $("#print1").click(function () {

            var css1 = ".myclass {background-color: #c29d0b; color: black; border-style: outset;border-color: #c29d0b; border-width: 8.5px; margin: 1%; text-align: center;}";
            var css2 = "th{font-size:20px !important;text-align: center;border: 1px solid black;color:#751c98;padding: 8px !important;}";
            var css3 = "table {border-collapse: collapse !important;width:900px !important; }";

            var data = $("#summary-portlet").html();
            data = data.replace(/<th[^>]*> حذف |<\/th>/gi, "");
            data = data.replace(/<th[^>]*> تعديل |<\/th>/gi, "");
            data = data.replace(/<td[^>]*><a[^>]*>حذف|<\/a>|<\/td>/gi, "");
            data = data.replace(/<td[^>]*><a[^>]*>تعديل|<\/a>|<\/td>/gi, "");
            data = data.replace(/<button[^>]*>تصدير|<\/button>/g, "");
            data = data.replace(/<button[^>]*>طباعة|<\/button>/g, "");
            var mywindow = window.open('', 'new div', 'height=400,width=600');
            mywindow.document.write('<html><head><title></title>');
            mywindow.document.write('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.min.css" type="text/css" />');
            mywindow.document.write('<style>' + css3 + css1 + css2 + '</style>');
            mywindow.document.write('</head><body>');
            mywindow.document.write(data);
            mywindow.document.write('</body></html>');
            mywindow.document.close();
            mywindow.focus();
            setTimeout(function () { mywindow.print(); }, 1000);
            //  mywindow.close();

        });
    });
</script>


