@model NawafizApp.Services.Dtos.OrderDto

@using NawafizApp.Web.Models
<style>
    a {
        text-shadow: none;
        color: #afab14;
    }

    .searchform {
        margin: 7px;
    }

    #form {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        background-color: #dee19b;
        margin-bottom: 5px;
    }
</style>
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>تعديل الطلب
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("Edit", "Order"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("رقم الطلب", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.OrderNum, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @value = "0" } })
                        @Html.ValidationMessageFor(model => model.OrderNum, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("الأولوية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.OrderPriority, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @value = "0" } })
                        @Html.ValidationMessageFor(model => model.OrderPriority, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">نوع الطلب</label>
                    <div class="col-md-3">

                        @Html.DropDownList("type", new List<SelectListItem> { new SelectListItem {Text= "تنظيف",Value="تنظيف",Selected=Model.Description=="تنظيف"}
                    ,new SelectListItem {Text= "صيانة",Value="صيانة",Selected=Model.Description=="صيانة"}
                   }, new { @class = "form-control", id = "" })
                    </div>
                </div>
                <div class="form-group  ">
                    @Html.Label("الموظف المسؤول", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        <div class="input-group select2-bootstrap-prepend" style="width:100%">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <select id="single-prepend-text" name="ugId" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in Selects.UsersEmp(null))
                                {
                                    if (!string.IsNullOrWhiteSpace(item.Value))
                                    {
                                        bool selected = Model.User_ID == Guid.Parse(item.Value);
                                        <option value="@item.Value" selected="@selected">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.Label("الغرفه", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            <div class="input-group select2-bootstrap-prepend" style="width:100%">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                <select id="single-prepend-text" name="rid" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    @foreach (var item in Selects.Rooms(null))
                                    {
                                        if (!string.IsNullOrWhiteSpace(item.Value))
                                        {
                             
                                            bool selected = Model.Room_ID == Convert.ToInt32(item.Value);
                                            <option value="@item.Value" selected="@selected">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-md-2 col-xs-9 col-sm-2">
                        <input type="submit" value="إضافة" class="btn btn-warning" style="width:100%" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>



