@model IEnumerable<NawafizApp.Services.Dtos.EquipmentDto>
@{
    Layout = "~/Views/Shared/_Layout-fixEmp.cshtml";}


@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                التجهيز
            </th>
            <th>
                الوصف
            </th>
            <th>
                الحالة
            </th>
            <th>
                بحاجة صيانة ؟
            </th>
            <th>
                موجودة ؟
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stauts)
                </td>

                @if (item.needfix)
                {
                    <td class="Checked"> بحاجة صيانة  <a class="linlpay" href="@Url.Action("CheckedToggleFix", new { id = item.Id, rid = item.Room_id  , Oid = ViewBag.Oid })"><i class="fa fa-remove"></i> جاهزة  </a></td>
                }
                @if (!item.needfix)
                {
                    <td class="notChecked">جاهزة  <a class="linlpay" href="@Url.Action("CheckedToggleFix", new { id = item.Id, rid = item.Room_id , Oid = ViewBag.Oid })"><i class="fa fa-check"></i>بحاجة صيانة  </a></td>
                }


                @if (item.ishere)
                {
                    <td class="Checked"> موجود <a class="linlpay" href="@Url.Action("CheckedToggle", new { id = item.Id, rid = item.Room_id })"><i class="fa fa-remove"></i> غير موجود </a></td>
                }
                @if (!item.ishere)
                {
                    <td class="notChecked">غير موجود <a class="linlpay" href="@Url.Action("CheckedToggle", new { id = item.Id, rid = item.Room_id })"><i class="fa fa-check"></i>موجود </a></td>
                }

            </tr>
        }


    </table>
    <div class="row">
        <div class="col-md-1">
            <input id="Submit1" class="btn btn-primary" type="submit" value="انهاء المهمة" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-block">@Html.ActionLink("الرجوع الى قائمة المهمات ", "GetallforCleanEmp")</button>
        </div>
        
    </div>
}


<script>
    //$(document).ready(function () {
    //    $("#Submit1").on("click", function () {
    //        $.ajax({
    //            type: "POST",
    //            url: window.location.origin + "/FixOrder/SetOrderAsFinished",
    //            data: { oid: CurrentId },
    //            success: function (data) {
    //                debugger;
    //                console.log(data);
    //                if (data == "False") {

    //                }
    //                else {

    //                }
    //            }
    //        });

    //    });
    
    //});
</script>
