@model IEnumerable<NawafizApp.Services.Dtos.EquipmentDto>
@{
    Layout = "~/Views/Shared/_Layout-fixEmp.cshtml";}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                التجهيز
            </th>
            <th>
                الوصف
            </th>
            <th>
                الحالة
            </th>
            <th>
                بحاجة صيانة ؟
            </th>
            <th>
                موجودة ؟
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stauts)
                </td>

                @if (item.needfix)
                {
                    <td class="Checked"> بحاجة صيانة  <a class="linlpay" href="@Url.Action("CheckedToggleFix", new { id = item.Id, rid = item.Room_id })"><i class="fa fa-remove"></i> جاهزة  </a></td>
                }
                @if (!item.needfix)
                {
                    <td class="notChecked">جاهزة  <a class="linlpay" href="@Url.Action("CheckedToggleFix", new { id = item.Id, rid = item.Room_id })"><i class="fa fa-check"></i>بحاجة صيانة  </a></td>
                }


                @if (item.ishere)
                {
                    <td class="Checked"> موجود <a class="linlpay" href="@Url.Action("CheckedToggle", new { id = item.Id, rid = item.Room_id })"><i class="fa fa-remove"></i> غير موجود </a></td>
                }
                @if (!item.ishere)
                {
                    <td class="notChecked">غير موجود <a class="linlpay" href="@Url.Action("CheckedToggle", new { id = item.Id, rid = item.Room_id })"><i class="fa fa-check"></i>موجود </a></td>
                }

            </tr>
        }


    </table>
    <input id="Submit1" type="submit" value="submit" />
}
