@model IEnumerable<NawafizApp.Services.Dtos.FixOrderDto>
@using NawafizApp.Services.Services

@{
    ViewBag.Title = "مهام الصيانة";
    Layout = "~/Views/Shared/_Layout-fixEmp.cshtml";
}

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>مهماتي 
        </div>
    </div>
    <div class="portlet-body">

        <table class="table" id="1">
            <tr>
                <th>
                    الحجز
                </th>
                <th>
                    المشرف
                </th>
                <th>
                    الصيانة
                </th>
                <th>
                تاربخ الأنشاء
                </th>

                <th>
                    الغرفة
                </th>

                <th>
                    الوصف
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.HosterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moshrefname)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.empName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creation_At)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roomnu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        
                        @Html.ActionLink("أستلام المهمة ", "takeCleanOrder", new { id = item.Id })|
                        @Html.ActionLink("قطع الصيانة  ", "getequpment", new { id = item.Id })


                    </td>
                </tr>
            }

        </table>


      </div>
    </div>

