@model IEnumerable<NawafizApp.Services.Dtos.FixOrderDto>

@{
    ViewBag.Title = "Getallformosh";
    Layout = "~/Views/Shared/_Layout_supervices.cshtml";
}
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>مهام الصيانة 
        </div>
    </div>
    <div class="portlet-body">

        <p>

        </p>
        <table class="table">
            <tr>

                <th>
                    الحجز
                </th>

                <th>
                    المشرف
                </th>

                <th>
                    الصيانة
                </th>


                <th>
                    تاريخ الأنشاء 
                </th>
                <th>
                    وصف
                </th>

                <th>
                    الغرفة
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Istaked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isFinished)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.enddate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.HosterName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.moshrefname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.empName)

                    <td>
                        @Html.DisplayFor(modelItem => item.Creation_At)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Roomnu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Istaked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isFinished)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.enddate)
                    </td>
                    <td>
                        @if (item.maitremp == null)
                        {
                            @Html.ActionLink("أرسال الى  عامل الصيانة ", "sendOrderToemp", new { id = item.Id })
                        }
                        @Html.ActionLink("قطع الصيانة ", "getequpment", new { oid = item.Id }) |

                    </td>
                </tr>
            }

        </table>
        </div>
</div>