@model IEnumerable<NawafizApp.Services.Dtos.FixOrderDto>
@{
    ViewBag.Title = "GetAllFixOrder";

    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}

<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> طلبات الصيانة
        </div>
    </div>
    <div class="portlet-body">

        <table class="table">
            <tr>
                <th>
                    الحجز
                </th>
                <th>
                    المشرف
                </th>
                <th>
                    العامل
                </th>
                <th>
                    وقت وتاريخ الانشاء
                </th>
                <th>
                    وصف
                </th>
                <th>
                    رقم الغرفة
                </th>
                <th>
                    مستلمة؟
                </th>
                <th>
                    منتهية؟
                </th>
                <th>
                    تاريخ الاستلام
                </th>
                <th>
                    تاريخ الانتهاء
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HosterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moshrefname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.empName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creation_At)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roomnu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Istaked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isFinished)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.enddate)
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
