@model NawafizApp.Services.Dtos.EquipmentDto

@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Layout-cleanEmp.cshtml";
}

<h2>Check</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EquipmentDto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="col-md-3 control-label">أسم  </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">وصف  </label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

   

    <div class="form-group">
        <label class="col-md-3 control-label">بحاجة صيانة   </label>
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.needfix)
                @Html.ValidationMessageFor(model => model.needfix, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">موجود  </label>
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.ishere)
                @Html.ValidationMessageFor(model => model.ishere, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تأكيد" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("رجوع", "getAllEquipments")
</div>
