@model List<NawafizApp.Services.Dtos.EquipmentDto>

@{
    ViewBag.Title = "getAllEquipments";
    Layout = "~/Views/Shared/_Layout-cleanEmp.cshtml";

}
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>تفقد تجهيزات الغرفة 
        </div>
    </div>
    <div class="portlet-body">
        <div class="col-lg-6">
            @using (Html.BeginForm())
            {


                <table class="table" style="margin:20px">
                    <tr>
                        <th>
                            الأسم
                        </th>
                        <th>
                            بحاجة صيانة ؟
                        </th>
                        <th>
                            موجود ؟ 
                        </th>
                
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @*<td>
                        <div class="checkbox" onclick="@Url.Action("CheckedToggleFix",new { id = item.Id,rid=item.Room_id })">
                            @Html.EditorFor(model => item.needfix)
                        </div>
                    </td>*@

                    @if (item.needfix)
                    {
                        <td class="Checked"> نعم <a class="linlpay" href="@Url.Action("CheckedToggleFix",new { id = item.Id,Rid=item.Room_id })"><i class="fa fa-remove"></i> لا  </a></td>
                    }
                    @if (!item.needfix)
                    {
                        <td class="notChecked">لا  <a class="linlpay" href="@Url.Action("CheckedToggleFix",new { id = item.Id,Rid=item.Room_id })"><i class="fa fa-check"></i>نعم  </a></td>
                    }


                    @if (item.ishere)
                    {
                        <td class="Checked"> نعم <a class="linlpay" href="@Url.Action("CheckedToggle",new { id = item.Id,Rid=item.Room_id })"><i class="fa fa-remove"></i> لا </a></td>
                    }
                    @if (!item.ishere)
                    {
                        <td class="notChecked"> لا <a class="linlpay" href="@Url.Action("CheckedToggle",new { id = item.Id,Rid=item.Room_id })"><i class="fa fa-check"></i>نعم </a></td>
                    }

                   
                    

                    </tr>
                }






        </table>

        }

        </div>
    </div>
