@model NawafizApp.Services.Dtos.RoomDto

@using NawafizApp.Web.Helper

@{
    ViewBag.Title = "AddRoom";
    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>إضافة غرفة
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label">رقم الغرفة</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.RoomNum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomNum, "", new { @class = "text-danger" })
                    </div>
                    <p id="text-number" class="text-danger"></p>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">إتجاه الغرفة </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.RoomDirection, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomDirection, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">مشغولة ؟ </label>
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.Isbusy)
                            @Html.ValidationMessageFor(model => model.Isbusy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">بحاجة صيانة ؟ </label>
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IsNeedfix)
                            @Html.ValidationMessageFor(model => model.IsNeedfix, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">بحاجة تنظيف  ؟ </label>
                    <div class=" col-md-3">
                        @Html.EditorFor(model => model.isneedclean)
                        @Html.ValidationMessageFor(model => model.isneedclean, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">في الخدمة  ؟ </label>
                    <div class="col-md-3">
                        <div class="">
                            @Html.EditorFor(model => model.IsInService)
                            @Html.ValidationMessageFor(model => model.IsInService, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    @Html.Label("الكتلة الفندقية ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        <div class="input-group select2-bootstrap-prepend" style="width:auto">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <select id="select-blocks" name="hid" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in SelectLists.getAllblock(null))
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <p id="text-select-blocks" class="text-danger"></p>
                    <p class="text-danger">@ViewBag.blockMsg</p>
                </div>
                <div>
                    <div class="form-group ">
                        @Html.Label("Room Type ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            <div class="input-group select2-bootstrap-prepend" style="width:auto">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                <select id="select-types" name="tid" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    @foreach (var item in SelectLists.getromeType(null))
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <p id="text-select-types" class="text-danger"></p>
                        <p class="text-danger">@ViewBag.typeMsg</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (!string.IsNullOrEmpty(ViewBag.typeMsg) || !string.IsNullOrEmpty(ViewBag.blockMsg))
                    {
                        <input id="submit-form-add" type="submit" value="Create" disabled class="btn btn-default" />
                    }
                    else
                    {
                        <input id="submit-form-add" type="submit" value="Create" class="btn btn-default" />
                    }
                </div>
            </div>
            <div>
                @Html.ActionLink("الرجوع الى قائمة الغرف", "getAllRoom")
            </div>

        }

    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<script src="~/Scripts/jquery-confirm.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
    $("#submit-form-add").prop('disabled', true);
    $validforBlocks = false;
    $validforTypes = false;
    $validforNumber = false;
    $("#text-select-blocks").html("اجباري");
    $("#text-select-types").html("اجباري");
    
    $("#RoomNum").on('change', function () {
        var val = this.value;
        if (this.value != null) {
            $.ajax({
                type: "POST",
                url: window.location.origin + "/Room/CheckIfRoomNumberValid",
                data: { num: val },
                success: function (data) {
                    debugger;
                    console.log(data);
                    if (data == "False") {
                        $("#text-number").html("");
                        $validforNumber = true;
                        if ($validforBlocks && $validforTypes) {
                            $("#submit-form-add").prop('disabled', false);
                        }
                    }
                    else {
                        $validforNumber = false;
                        $("#submit-form-add").prop('disabled', true);
                        $("#text-number").html("الرقم موجود مسبقا");
                        
}
                }
            });
        }
    });
    $("#select-blocks").on('change', function () {
        if (this.value > 0) {
            $("#text-select-blocks").html("");
            $validforBlocks = true;
            if ($validforNumber && $validforTypes) {
                $("#submit-form-add").prop('disabled', false);
            }
        }
    });
    $("#select-types").on('change', function () {
        if (this.value > 0) {
            $("#text-select-types").html("");
            $validforTypes = true;
            if ($validforBlocks && $validforNumber) {
                $("#submit-form-add").prop('disabled', false);
            }
        }
    });
    });
</script>