@model NawafizApp.Services.Dtos.RoomDto

@using NawafizApp.Web.Helper

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>تعديل غرفة
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="col-md-2 control-label">رقم الغرفة</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.RoomNum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomNum, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">اتجاه الغرفة</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.RoomDirection, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomDirection, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-2 control-label">الكتلة الفندقية</label>
                    <div class="col-md-3">
                        <div class="input-group select2-bootstrap-prepend" style="width:auto">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <select id="single-prepend-text" name="hid" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in SelectLists.getAllblock(null))
                                {
                                    if (!string.IsNullOrWhiteSpace(item.Value) && Model.HotelBlock_id != null && Model.HotelBlock_id.ToString() == item.Value)
                                    {
                                <option value="@item.Value" selected="true">@item.Text</option>
                                    }
                                    else
                                    {
                                <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-2 control-label">نوع الغرفة </label>
                    <div class="col-md-3">
                        <div class="input-group select2-bootstrap-prepend" style="width:auto">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-select2-open="single-prepend-text">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <select id="single-prepend-text" name="tid" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (var item in SelectLists.getromeType(null))
                                {
                                    if (!string.IsNullOrWhiteSpace(item.Value) && Model.RoomType_id != null && Model.RoomType_id.ToString() == item.Value)
                                    {
                                        <option value="@item.Value" selected="true">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            

                <div class="form-group">
                    <label class="col-md-2 control-label">مشغولة؟ </label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Isbusy)
                            @Html.ValidationMessageFor(model => model.Isbusy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">بحاجة صيانة</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsNeedfix)
                            @Html.ValidationMessageFor(model => model.IsNeedfix, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">بحاجة تنظيف</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.isneedclean)
                            @Html.ValidationMessageFor(model => model.isneedclean, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">في الخدمة؟</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsInService)
                            @Html.ValidationMessageFor(model => model.IsInService, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="حفظ" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("العودة لعرض الغرف", "getAllRoom")
        </div>


</div>