@model IEnumerable<NawafizApp.Services.Dtos.RoomDto>


@{

    Layout=null;
}
<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> جميع الغرف
        </div>
    </div>
    <div class="portlet-body">
        <p>
            @Html.ActionLink("إنشاء غرفة جديدة ", "AddRoom")
        </p>
        <table class="table" id="tableroom">

            <tr>
                <th>
                    رقم الغرفة
                </th>
                <th>
                    أتجاه الغرفة
                </th>
                <th>
                    الكتلة الفندقية
                </th>
                <th>
                    نمط الغرفة
                </th>
                <th>
                    مشغولة
                </th>
                <th>
                    بحاجة صيانة
                </th>
                <th>
                    بحاجة تنظيف
                </th>
                <th>
                    في الخدمة ؟
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.isneedclean == true || item.IsNeedfix == true)
                {
                <tr id="item.RoomNum" style="background-color:lightsalmon">
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomDirection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.blockName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbusy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsNeedfix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isneedclean)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsInService)
                    </td>
                    <td>
                        <span>
                            @Html.ActionLink("حذف", "Delete", new { id = item.Id, rid = item.Id }, new { @class = "linkDel" })|
                        </span>
                        <span>
                            @Html.ActionLink("تعديل", "Edit", new { id = item.Id, rid = item.Id })|
                        

                        @if (item.IsInService == true)
                        {
                            if (item.Isrequisted == false)
                            {


                                if (item.isneedclean == true)
                                {
                                    <span>
                                        @Html.ActionLink("  إضافة طلب تنظيف", "AddOrder", "CleanOrder", new { id = item.Id, rid = item.Id }, new { @class = "linkOrd" })|
                                    </span>


                                }
                            }

                            if (item.Isrequistedfix == false)
                            {
                                if (item.IsNeedfix)
                                {
                                    <span>
                                        @Html.ActionLink("  إضافة طلب صيانة ", "AddFixOrder", "FixOrder", new { id = item.Id, rid = item.Id }, new { @class = "linkOrd" })|
                                    </span>


                                }
                            }
                        }
                        <span>
                            @Html.ActionLink("اضافة تجهيزات", "getAllEquipments", "Equipment", new { rid = item.Id }, null)
                        </span>
                    </td>
                </tr>
                }
                if (item.isneedclean == false && item.IsNeedfix == false)
                {
                <tr id="item.RoomNum">
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomDirection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.blockName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbusy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsNeedfix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isneedclean)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsInService)
                    </td>
                    <td>
                        <span>
                            @Html.ActionLink("حذف", "Delete", new { id = item.Id, rid = item.Id }, new { @class = "linkDel" })|
                        </span>
                        <span>
                            @Html.ActionLink("تعديل", "Edit", new { id = item.Id, rid = item.Id })|


                            @if (item.IsInService == true)
                            {
                                if (item.Isrequisted == false)
                                {


                                    if (item.isneedclean == true)
                                    {
                                        <span>
                                            @Html.ActionLink("  إضافة طلب تنظيف", "AddOrder", "CleanOrder", new { id = item.Id, rid = item.Id }, new { @class = "linkOrd" })|
                                        </span>


                                    }
                                }

                                if (item.Isrequistedfix == false)
                                {
                                    if (item.IsNeedfix)
                                    {
                                        <span>
                                            @Html.ActionLink("  إضافة طلب صيانة ", "AddFixOrder", "FixOrder", new { id = item.Id, rid = item.Id }, new { @class = "linkOrd" })|
                                        </span>


                                    }
                                }
                            }
                            <span>
                                @Html.ActionLink("equpmint", "getAllEquipments", "Equipment", new { rid = item.Id }, null)
                            </span>
                    </td>
                </tr>
                }
            }

        </table>


        </div>






        <script src="~/Scripts/jquery-confirm.min.js"></script>
        <script>
            $('.linkDel').confirm({
                title: 'تأكيد الحذف !',

                content: 'هل تريد بالتأكيد حذف هذا الحي  ؟',


                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    },
                    إلغاء: function () {

                    }


                }
            });
            $('a.twitter').confirm({
                content: "...",
            });
            $('a.twitter').confirm({
                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    }
                }
            });
            $(".jconfirm-content-pane").removeClass("no-scroll");
        </script>

        <script>
            $('.linkOrd').confirm({
                title: ' confirm',

                content: 'Are you sure that you want to add new requist',


                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    },
                    إلغاء: function () {

                    }


                }
            });
            $('a.twitter').confirm({
                content: "...",
            });
            $('a.twitter').confirm({
                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    }
                }
            });
            $(".jconfirm-content-pane").removeClass("no-scroll");
        </script>

