@model IEnumerable<NawafizApp.Services.Dtos.HotelBlockDto>

@{
    ViewBag.Title = "getHotelBlocks";
    Layout = "~/Views/Shared/_Layout-hoster.cshtml";
}
<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>إضافة غرفة
        </div>
    </div>
    <div class="portlet-body">
        <p>
            @Html.ActionLink("إضافة كتلة جديدة ", "AddHotelBlock")
        </p>
        <table class="table">
            <tr>
                <th>
                    رقم الكتلة
                </th>
                <th>
                    اسم الكتلة
                </th>
                <th>
                    وصف الكتلة
                </th>
                <th>
                    عدد الطوابق
                </th>
                <th>
                    عدد الغرق
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlockNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlockName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlockDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NmberOfTheFloorsIntheBlock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NmberOfTheRoomsIntheBlock)
                    </td>
                    <td>
                        @Html.ActionLink("عمال الوحدة ", "getblockemp", new { id = item.Id })|
                        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) |
                     
                        @Html.ActionLink("حذف ", "deleteHotelBlock", new { id = item.Id }, new { @class = "linkDel" })
                    </td>
                </tr>
            }

        </table>

        </div>
    </div>
        <link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery-confirm.min.js"></script>
        <script>
            $('.linkDel').confirm({
                title: 'تأكيد الحذف !',

                content: 'ما تقوم به الأن هو كتلة فندقية   مما سيؤدي إلى فقدان كافة المعلومات المدرجة تحت هذا الكتلة  هل أنت متأكد مما تقوم به ؟!',


                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    },
                    إلغاء: function () {

                    }


                }
            });
            $('a.twitter').confirm({
                content: "...",
            });
            $('a.twitter').confirm({
                buttons: {
                    نعم: function () {
                        location.href = this.$target.attr('href');
                    }
                }
            });
            $(".jconfirm-content-pane").removeClass("no-scroll");
        </script>
