@model NawafizApp.Services.Dtos.CleanOrderDto

@{
    ViewBag.Title = "طلب نظافة";
    Layout = "~/Views/Shared/_Layout-cleanEmp.cshtml";
}


<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>إنهاء طلب نظافة 
        </div>
    </div>
    <div class="portlet-body">

        <h4>نسبة المهام المنتهية :@ViewBag.CleanFinishedCount</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)



            <div class="form-group">

                <label class="col-md-3 control-label">أسم  </label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.empName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.empName, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-3 control-label">وقت الأنشاء  </label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Creation_At, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Creation_At, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">وصف  </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">رقم الغرفة    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Roomnu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Roomnu, "", new { @class = "text-danger" })
                    </div>
                </div>

              
                <div class="form-group">
                    <label class="col-md-3 control-label">وقت البدء  </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.startdate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.startdate, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="أنهاء الطلب" class="default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
</div>