@model IEnumerable<NawafizApp.Services.Dtos.CleanOrderDto>

@{
    ViewBag.Title = "Getallformosh";
    Layout = "~/Views/Shared/_Layout_supervices.cshtml";
}

<h2>مهام التنظيف</h2>

<p>

</p>
<table class="table">
    <tr>

        <th>
            الحجز
        </th>

        <th>
            المشرف
        </th>

        <th>
            التنظيف
        </th>
        <th>
            وقت الأنشاء
        </th>
        <th>
            تاريخ الأنشاء
        </th>

        <th>
            وصف
        </th>

        <th>
            رقم الغرفة
        </th>
        <th>
            تم الأستلام من التنظيف ؟
        </th>
        <th>
            منتهية
        </th>
        <th>
            وقت البدء
        </th>
        <th>
            وقت الأنتهاء
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.HosterName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.moshrefname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.empName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_Time)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Roomnu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Istaked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFinished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enddate)
            </td>
            <td>
                @if (item.cleaningEmp == null)
                {
                    @Html.ActionLink("أرسال الى العامل ", "sendOrderToemp", new { id = item.Id })
                }
                | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
