@model IEnumerable<NawafizApp.Services.Dtos.CleanOrderDto>
@using NawafizApp.Services.Services

@{
    ViewBag.Title = "مهام التنظيف";
    Layout = "~/Views/Shared/_Layout-cleanEmp.cshtml";
}

<h2>المهام</h2>


<table class="table" id="1">
    <tr>
        <th>
            الحجز
        </th>
        <th>
            المشرف
        </th>
        <th>
            النظافة
        </th>

        تاربخ الأنشاء
        </th>

        <th>
            الغرفة
        </th>

        <th></th>
    </tr>
 
    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.HosterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.moshrefname)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roomnu)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enddate)
            </td>
            <td>

                @Html.ActionLink("أستلام المهمة ", "takeCleanOrder", new { id = item.Id })

            </td>
        </tr>
    }
        
</table>
