@model IEnumerable<NawafizApp.Services.Dtos.CleanOrderDto>

@{
    ViewBag.Title = "notfinishedOrderforCurentUser";
    Layout = "~/Views/Shared/_Layout_supervices.cshtml";
}

<h2>notfinishedOrderforCurentUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.HosterName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.moshrefname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.empName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Roomnu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Istaked)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enddate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.HosterName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.moshrefname)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.empName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Roomnu)
        </td>
        <td>

        <td>
            @Html.DisplayFor(modelItem => item.startdate)
        </td>

        <td>
            @Html.ActionLink("إكمال المهمة  ", "EndCleanOrder1", new { id=item.Id }) |

        </td>
    </tr>
}

</table>
